<%= render partial: 'shared/alert' %>

<h1>Welcome to BrokerVerified, <%= @user.full_name %> </h1>

<% if @user.brokerages.any? %>
    <% @user.brokerages.each do |brokerage| %>
        <h2>Hello <%= brokerage.name %></h2>
        <% unless brokerage.is_verified %>
            <p><%= brokerage.name %> is not yet approved. BrokerVerified takes pride in ensuring that all brokerages meet our minimum standards and view them individually. Please check back soon.</p>
            <% end %>
    <% end %>
<% end %>

<div>
  <h2>About Us</h2>
  <p>We created Broker Verified to help you keep tabs on your Financial Advisor, and help you understand all of the fees you are being charged.
    The current trend on Wall Street has advisors putting their clients into portfolios composed of ETFs and Mutual Funds. Each fund charges you a different fee, including many funds with generally the same allocations and investment mandates.
    Our goal is to shed some light, show you what you are paying, how much you are paying, and who you are paying.</p>
  <h2>Where Do Your Fees Go?</h2>
  <p>Some of these fees go to the underlying manager, but you shouldn’t be paying them if you can find a cheaper manager doing the same thing. Then there are the funds that are paying their advisors kickbacks through 12-b-1 fees, and front-end/back-end loads.
    Mutual Fund’s have many different share classes, and each of them can charge you a different fee. Many A-share class Mutual Funds will charge you an additional front-end load, B-shares will charge back-end loads, and C-shares charge you a 12-b-1 fee. All of those fees are on top of the management and expense fees they are charging.
    So where do those additional fees go? The Mutual Funds will pay those fees back to the Advisor. This is a way for Mutual Funds to attract business from Advisors, and have them direct their clients for a percentage.</p>
  <h2>How Does it Work?</h2>
  <p>You will enter your holdings into our application to re-create your portfolio, which will allow us to analyze each fund to determine your overall fee. We also go to the next step of giving you a breakdown by fund to understand where your returns are going. Finally, we will break out your applicable Advisor fee, and underlying fees detailing where your money goes.
  You can also enter your commissions if you are not paying your advisor a quarterly fee.
  Broker Verified gives you the tools to quickly and easily determine how much all of these fees are eating into your return. It also gives you the leverage to push your Advisor to advise you to the full extent of their fiduciary duty.</p>
</div>